---

import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>

  <h3>cookroaches ahh shi* wait wasn't it cockro... erm what the sigma</h3>
  
</BaseLayout>