---
import Hamburger from "./Hamburger.astro"
import Navigation from "./navigation.astro"
---
<nav>
    <Hamburger />
    <Navigation />
</nav>

<style>
    nav{
        position: fixed;
        top: 0;
      
        

    }
</style>